html {
      box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
      box-sizing: inherit;
  }
  
  html,
  body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
  }
  
  body {
      font-family: 'Coda', sans-serif;
      font-size: 16px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  
  /* Stylings for the whole deck of cards */
  .deck {
    background: #a6a2a2;
    padding: 0.6rem;
    border-radius: 4px;
    box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    margin: 0 0 3em;
  }
  
  .deck .card {
    background: #d6d6d6;
    font-size: 0;
    color: #fff;
    border-radius: 4px;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .deck .card.open {
    background: #2ed9f7;
    cursor: default;
    animation-name: flipInY;
    animation-duration: 0.5s;
  }
  
  .deck .card.show {
    font-size: 33px;
  }
  
  .show {
    visibility: visible !important;
    opacity: 100 !important;
  }
  
  .deck .card.matching {
    cursor: default;
    background: #41f21d;
    font-size: 33px;
    backface-visibility: visible;
    -webkit-backface-visibility: visible;
  }
  
  .deck .card.not-matching {
    background: #ec184d;
  }
  
  .deck .card.disabled {
    pointer-events: none;
    opacity: 0.9;
  }
  
  /* Score Panel Area */
  .score-panel {
    text-align: left;
    margin: 0.4em 0 0.4em;
  }
  
  .stars {
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    color: yellow;
  }
  
  .stars li {
      list-style: none;
      display: inline-block;
  }
  
  .restart {
    cursor: pointer;
    float: right;
    color: rgba(46, 61, 73, 0.5);
  }
  
  .timer {
    display: inline-block;
    margin: 0 0.5em;
  }

  .help {
    cursor: pointer;
    margin-left: 1rem;
    color: rgba(46, 61, 73, 0.5);
    float: right;
  }
  
  /* Game Over Modal */
  .modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(36, 36, 36, 0.62);
    transition: opacity 500ms;
    /* Hides modal to show using code */
    visibility: hidden;
    opacity: 0;
  }
  
  .modal-content {
    margin: 70px auto;
    padding: 20px;
    background: rgb(155, 154, 154);
    text-align: center;
    border-radius: 5px;
    width: 85%;
    position: relative;
  }
  
  .modal-content h2 {
    margin-top: 0;
    color: rgb(163, 163, 163);
  }
  
  .exitBtn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }

  .modal-content .modalMsg,
  .infoMsg {
    max-height: 30%;
    overflow: auto;
    text-align: center;
  }
  
  .modalMsg {
    margin-top: 0.9em;
  }
  
  .modal-footer {
    display: flex;
    justify-content: center;
    padding: 0 1em 1.5em;
  }

  .starRating li {
    display: inline-block;
    list-style: none;
  }
  
  /* Affects button inside modal that resets game on click */
  .replayBtn {
    cursor: pointer;
    border: none;
    padding: 0.7rem 1rem;
    font-size: 1.1rem;
    display: block;
    margin: 0 auto;
    width: 40%;
    color: #fff;
    border-radius: 5px;
  }

  /* Help Modal Stylings */
  .close {
    float: right;
    position: relative;
    cursor: pointer;
    animation: animateCloseIcon 5s linear 2s infinite;
  }
  
  .help-tips li {
    list-style: none;
  }

  /* Animations */
  @keyframes flipInY {
      from {
          transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
          animation-timing-function: ease-in;
          opacity: 0;
      }
  
      40% {
          transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
          animation-timing-function: ease-in;
      }
  
      60% {
          transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
          opacity: 1;
      }
  
      80% {
          transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
      }
  
      to {
          transform: perspective(400px);
      }
  }

  @keyframes animateCloseIcon {
    0% { top: 0em; }

    40% { top: 0em; }

    43% { top: -0.2em; }

    46% { top: 0em; }

    48% { top: 0.2em; }

    50% { top: 0em; }

    100% { top: 0em; }
}