  @media (min-width: 320px) {
    /* Enables scrolling on phones for some reason */
    body {
      overflow: visible;
    }

    .score-panel {
      width: 93%;
    }
  
      .deck {
          width: 93%;
      }
  
      .deck .card {
          height: 70px;
          width: 70px;
      margin: 4px;
      }
  }
  

  /* For tablets and larger screens */
  @media (min-width: 768px) {
      .container {
          font-size: 18px;
      }
  
    .score-panel {
      width: 550px;
    }
  
      .deck {
          width: 550px;
          height: 530px;
      }
  
      .deck .card {
          height: 110px;
          width: 110px;
      }
  
      .modal-content {
          width: 45%;
      }
  }
  